@{
    ViewBag.Title = "Словарь";
}
@Styles.Render("~/Content/DictionaryStyle.css")
<form method="post" class="dictContainer formWithValidation" action="~/Dictionary/AddWord">
    <div class="partContainer" id="firstPartContainer">
        <div class="selectLanguageField">
            <select name="firstLanguage" class="select">
                @foreach (var language in Enum.GetValues(typeof(SMB.Models.Dictionary.Language)))
                {
                    <option @(ViewBag.FirstLanguage == language.ToString() ? "selected" : "")>@language.ToString()</option>
                }
            </select>
        </div>
        <div>
            <textarea class="textWithEmptyValidation" name="word" rows="5"></textarea>
        </div>
    </div>
    <div class="partContainer" id="secondPartContainer">
        <div class="selectLanguageField">
            <select name="secondLanguage">
                @foreach (var language in Enum.GetValues(typeof(SMB.Models.Dictionary.Language)))
                {
                    <option @(ViewBag.SecondLanguage == language.ToString() ? "selected" : "")>@language.ToString()</option>
                }
            </select>
        </div>
        <div>
            <textarea class="textWithEmptyValidation" name="translation" rows="5"></textarea>
        </div>
    </div>
    <div class="inputs">
        <input class="dictionaryButton" type="submit" value="Добавить в словарь" />
        <button type="button" class="dictionaryButton"><a style="font-size: 13px; text-decoration: none; color: black;" href="Show">Просмотреть слова</a></button>
        <button type="button" class="dictionaryButton"><a style="font-size: 13px; text-decoration: none; color: black;" href="Test">Перейти к тесту</a></button>
    </div>
</form>


