@model SMB.Models.Dictionary.Word
@using SMB.Models;
@{
    ViewBag.Title = "Детали о слове";
}

@Styles.Render("~/Content/linksStyle.css")

<h2>@Model.Value</h2>
<b class="linkTableRightColumnButton" style="float: unset" onclick="confirmDelete('id', @Model.Id, '@(VirtualPathCorrector.CorrectVirtualPath + "Dictionary/DeleteWord/")')">Удалить</b>
<h1>Язык: @Model.Language</h1>
<h3>Переводы</h3>
@foreach (var meaning in Model.Meanings)
{
    foreach (var word in meaning.Words)
    {
        if (word.Value != Model.Value && word.Language != Model.Language)
        {
            <form method="post" action="~/Dictionary/DeleteWordConnection/">
                <input type="hidden" name="wordId" value="@Model.Id" />
                <input type="hidden" name="translationId" value="@word.Id" />
                <input type="hidden" name="meaningId" value="@meaning.Id" />
                <p>@word.Value (@word.Language)</p>
                <input class="redButton" type="submit" value="Удалить связь" />
            </form>
        }
    }
    <br />
}

