@model IEnumerable<SMB.Models.Links.Topic>

@{
    ViewBag.Title = "Ссылки";
}

@Scripts.Render("~/Javascript/LinkListOpener.js")
@Styles.Render("~/Content/linksStyle.css")
<h2>Темы и ссылки</h2>
<div class="linkContainer">
    @foreach (var topic in Model)
    {
        <br />
        <div class="linkListContainer">
            <table class="linkTable">
                <tr>
                    <td class="linkTableLeftColumn">
                        <a class="topicHeader" onclick="openOrCloseList(this)">@topic.Name</a>
                    </td>
                    @if (ViewBag.HasCookie)
                    {
                        <td class="linkTableRightColumn">
                            <a class="linkTableRightColumnButton" onclick="confirmDelete('topicId', @topic.Id, '/Links/DeleteTopic/')">Удалить</a>
                        </td>
                    }
                    </tr>
            </table>

            <div class="linkList" style="@(topic.IsOpen ? "" : "display: none")">
                @foreach (var link in topic.Links)
                {
                    <table class="linkTable">
                        <tr>
                            <td class="linkTableLeftColumn">
                                <a class="link" target="_blank" href="@link.Content">@link.Name</a>
                            </td>
                            @if (ViewBag.HasCookie)
                            {
                                <td class="linkTableRightColumn">
                                    <a class="linkTableRightColumnButton" onclick="confirmDelete('linkId', @link.Id, '/Links/DeleteLink/')">Удалить</a>
                                </td>
                            }
                        </tr>
                    </table>
                    <br />
                }
                @if (ViewBag.HasCookie)
                {
                    <form style="width: 100%" method="post" action="~/Links/AddLink/">
                        <input type="hidden" value="@topic.Id" name="id" />
                        <table>
                            <tr>
                                <td><p>Содержимое ссылки </p></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="linkName" /> </td>
                            </tr>
                            <tr>
                                <td><p>Адрес </p></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="linkContent" /></td>
                            </tr>

                            <tr>
                                <td><input type="submit" value="Добавить ссылку" /> </td>
                                <td></td>
                            </tr>
                            
                        </table>
                    </form>
                }
                </div>
                
        </div>

    }
</div>
<br />
@if (ViewBag.HasCookie)
{
    <form style="width: 100%" method="post" action="~/Links/AddTopic/@ViewBag.SubjectId">
        <input type="text" name="topicName" />
        <input type="submit" value="Добавить тему" />
    </form>
}



